.whole_page-modal {
  position: fixed;
  top: 50vh;
  left: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  translate: -50% -50%;
}

.modal-small {
  font-size: 48px;
  background-color: white;
}
