.whole_page-modal {
  position: fixed;
  top: 70vh;
  left: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  translate: -50% -50%;
  max-height: 90vh;
}

.modal-small {
  font-size: 48px;
  background-color: white;
}

.cart-product {
  display: flex;
  flex-direction: row;
}
.cart-product-img {
  object-fit: contain;
  max-height: 95%;
}

.cart-product-img-container {
  max-width: 30%;
}
