header {
  padding-top: 15px;
  .logo {
    margin-right: 30px;
  }

  .headline {
    padding-left: 25px;
    padding-right: 40px;
    text-transform: capitalize;
    h1,
    h2 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 27px;
      .colorred {
        color: #dc0132;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  nav div div ul {
    li {
      min-width: 138px;
      border: 1px #cbcbcb solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e2e3e5;
      min-height: 65px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;

      .nav-link {
        width: 100%;
      }
      .fa-home {
        font-size: 2rem;
      }
      .nav-item {
        padding-left: 0;
      }
    }
  }
}

@media (min-width: 498px) {
  .header {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    display: none;
  }
}

/* +++++ */

header {
  padding-top: 23px;
}
.logo {
  margin-right: 30px;
}
.header {
  font-size: 18px;
  font-weight: 700;
  /* line-height: 47px; */
  color: #333333;
  display: flex;
  flex-wrap: wrap;
}
.headline {
  /* padding-left: 25px; */
  padding-right: 40px;
  text-transform: capitalize;
}
.colorred {
  color: #dc0132;
  font-size: 18px;
  font-weight: 700;
  /* line-height: 47px; */
}
h1,
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 47px;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
nav ul li {
  min-width: 108px;
  border: 1px #cbcbcb solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e3e5;
  padding: 5px;
  min-height: 65px;
  text-transform: uppercase;
  font-weight: 600;
}
nav ul li a {
  font-size: smaller;
  text-align: center;
}

nav ul li i {
  color: #fff;
}

nav ul li.active {
  background-color: #dc0132;
  color: #fff;
}

.fa {
  font-size: 35px !important;
}
.cart-login-container {
  position: absolute;
  top: 0;
  right: 0;
  p {
    padding: 15px;
  }
  display: flex;
  flex-direction: row;
}

/* off-canvas inside list  */

.offcanvas-body {
  padding: 0;
}
.offcanvas-body .inside-list_container {
  width: 80%;
  margin: auto;
}
.offcanvas-body .inside-list_container ul {
  flex-direction: column;
  outline: orangered;
  list-style-type: none;
}
.offcanvas-body .inside-list_container ul li.inside-list_element {
  width: 100%;
  border-bottom: 1px #b40e0e solid;
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: center;
}
.offcanvas-body .inside-list_container ul li:last-child {
  border-bottom: none;
}
.offcanvas-body .inside-list_container ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
}
.inside-list_element__link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.inside-list_element__link:hover,
.inside-list_element__link:focus,
.inside-list_element__link:active {
  color: #b40e0e;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.1em;
}
@media (min-width: 498px) {
  .header {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .navbar-brand {
    display: none;
  }
}
