.applications_main {
  display: flex;
  justify-content: center;
}
.applPage {
  /* min-height: 76vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.appContainer {
  width: 100%;
  align-self: center;
}

#grayBcg {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;

  padding: 1px;
  background-color: #7a7a7a;
  margin: 5px;
}
@media (min-width: 768px) {
  #grayBcg {
    grid-template-columns: 2fr 2fr;
  }
}
@media (min-width: 1440px) {
  #grayBcg {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  align-items: flex-start;
  margin: 2px;
  flex-direction: row;
  padding: 0;
}
.card:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.variantBtn {
  padding: 3px 5px;
  border: 2px solid #dc0132;
  border-radius: 5px;
  margin: 5px;
}

.variantBtn:hover,
.card:hover {
  transform: scale(1.01);
}
.variantBtn:hover {
  cursor: pointer;
  color: #cbcbcb;
  background-color: #333333;
}

.bigLogo {
  max-width: 100%;
  height: auto;
}

.bigLogo:hover,
.backToAppl {
  cursor: pointer;
}
.application-img_container {
  align-items: center;
  justify-content: center;
  max-width: 30%;
  padding: 0;

  .appImg {
    max-height: 10vh;
  }
}
.application-info_container {
  flex-direction: column;
  max-width: 70%;
  p {
    margin: 0;
  }
}

/* heaters cards */

.heaterSectionContainer {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
}

.heatersContaner {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 auto;
}

.block-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.heatersLinkToItsPage {
  display: inline-block;
}
.heaterCard {
  max-width: 260px;
  max-height: 304px;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.26);
  justify-content: center;
  color: red;
}

.heaterCard:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.stuffing {
  height: 100%;
}

.hidden {
  display: none;
}
