.home-solutions {
  background-image: url("../img/home-solutions-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper,
.lower {
  width: 100%;
  display: flex;
  overflow: hidden;
  outline: 0.1px solid red;
}

.upper img:hover,
.lower img:hover {
  position: relative;
  animation-name: mooveup;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
.first {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}
.second {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

@keyframes mooveup {
  0% {
    top: 0px;
  }
  100% {
    bottom: 100%;
  }
}
