.productBigImgContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productInfoText {
  flex-direction: column;
}

.price_container p {
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .productBigImgContainer,
  .productInfo {
    max-width: 45%;
  }
}

/* adding product to cart */

.qty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.qty_deduct,
.qty_main,
.qty_add {
  font-weight: bolder;
}

.qty_deduct {
  margin-right: 1rem;
}

.qty_add {
  margin-left: 1rem;
}
