@import url('header.css');
@import url('home-solutions.css');
@import url('footer.css');
@import url('main.css');
@import url('why-atmor.css');

* {
	box-sizing: border-box;
}
.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
#carouselAutoplaying {
	width: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
