<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atmor heaters applications</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/52ea412460.js"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.header.partial.html"
    ></header>

    <div class="applications_main container container-fluid">
      <div class="applPage">
        <div class="appContainer container container-fluid">
          <div id="grayBcg" class="grayBcg container container-fluid">
            <div id="shower" class="card container shower container-fluid">
              <div class="application-img_container container container-fluid">
                <img
                  class="appImg img-fluid"
                  src="img/Bath08-23.webp"
                  alt="shower"
                />
              </div>
              <div class="application-info_container container container-fluid">
                <p><strong>Душ</strong></p>
                <p>Приймаєте гарячий душ</p>
              </div>
            </div>
            <div id="sink" class="card container sink container-fluid">
              <div class="application-img_container container container-fluid">
                <img
                  class="appImg img-fluid"
                  src="img/Cat-sink.webp"
                  alt="sink"
                />
              </div>
              <div class="application-info_container container container-fluid">
                <p><strong>Мийка</strong></p>
                <p>Відкрийте кран і вода відразу гаряча</p>
              </div>
            </div>
            <div id="home" class="card container home container-fluid">
              <div class="application-img_container container container-fluid">
                <img
                  class="img-fluid appImg img-fluid"
                  src="img/46.webp"
                  alt="home"
                />
              </div>
              <div class="application-info_container container container-fluid">
                <p><strong>Для помешкання</strong></p>
                <p>Гаряча вода по всьому будинку</p>
              </div>
            </div>
            <div id="business" class="card container business container-fluid">
              <div class="application-img_container container container-fluid">
                <img
                  class="appImg img-fluid"
                  src="img/cat_commercial.webp"
                  alt="commercial"
                />
              </div>
              <div class="application-info_container container container-fluid">
                <p><strong>Для бізнесу та офісу</strong></p>
                <p>Рішення для різноманітних потреб</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- heaters -->

    <section id="heatersPage" class="heatersPage container container-fluid">
      <div class="heaterSectionContainer container container-fluid">
        <section class="heatersContainer container container-fluid"></section>
      </div>
    </section>
    <div class="stuffing"></div>

    <!-- login -->

    <div id="login">
      <form action=""></form>
    </div>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.footer.partial.html"
    ></footer>

    <script src="js/index.js"></script>
  </body>
</html>
