<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atmor</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/52ea412460.js"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.header.partial.html"
    ></header>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.carousel.partial.html"
    ></div>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.home-solutions.partial.html"
    ></div>
    <main
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.main.partial.html"
    ></main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.footer.partial.html"
    ></footer>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.form.partial.html"
      hx-on="htmx:afterRequest logEvent"
    ></div>
    <div class="alert-container container"></div>
    <!-- <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.product-info.partial.html"
    ></div> -->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.cart.partial.html"
    ></div>
    <div id="login">
      <form action=""></form>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
