<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Why Atmor</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <script src="https://use.fontawesome.com/52ea412460.js"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.header.partial.html"
    ></header>
    <!-- <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.carousel.partial.html"
    ></div> -->
    <!-- <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.home-solutions.partial.html"
    ></div> -->
    <!-- <main
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.main.partial.html"
    ></main> -->

<div class="hotapInfoContainer container container-fluid">
      <div class="whyAtmorPage">
        <!-- <img class="bigLogo" src="img/LOGO-ATMOR-EN-478X141.png" alt="Atmor" /> -->

        <main class="container container-fluid">
          <section class="container container-fluid">
            <div class="mainOfWhy container container-fluid">
              <div class="container container-fluid">
                <p>
                  Компанія <span class="red">Atmor</span> є одним зі світових
                  лідерів у розробці та виробництві електричних швидких
                  водонагрівачів. Atmor адаптує найкращі рішення для опалення
                  для вас відповідно до потреб кожного користувача.
                </p>
              </div>

              <div class="container container-fluid">
                <p>
                  Правильний вибір гарантує вам необмежену кількість гарячої
                  води, в будь-яку точку, яку ви оберете, і за найнижчою
                  вартістю!
                </p>
              </div>
            </div>

            <div class="experiense container container-fluid">
              <p>
                <span class="red">Atmor</span> є провідним брендом у наданні
                ефективних рішень для необмеженої кількості гарячої води.
                <span class="red">Atmor</span> вже понад 40 років є всесвітньо
                відомою компанією у виробництві, маркетингу та наданні рішень
                для швидких водонагрівачів. Наша продукція продається на
                міжнародному рівні, і компанія має найбільшу кількість
                встановлених обігрівачів. Асортимент продукції компанії,
                адаптований до вимог приватного, ділового та промислового
                секторів, забезпечує ефективне рішення для необмеженого
                постачання гарячої води з максимальною економією. Сьогодні щодня
                використовується понад мільйон пристроїв у всьому світі, щоб
                задовольнити наших клієнтівТеплими, розумними та вишуканими.
                Наша продукція вирізняється найсучаснішими технологіями на рівні
                дизайну, обробки, безпеки та довговічності. Команда інженерів
                Atmor працює над наданням рішень для точкового обігріву та
                розробкою нових функцій і продуктів.
              </p>
            </div>

            <div class="quality container container-fluid">
              <p>
                Водонагрівачі <span class="red">Atmor</span> – найкраще рішення
                для вас. Для будь-якого використання, в будь-який час і в
                будь-якому місці. <span class="red">Atmor</span> є провідною
                компанією у виробництві та розробці швидких водонагрівачів як
                для місцевого ринку, так і для міжнародного ринку. Наша
                глобальна дистрибуція вимагає від нас суворого дотримання вимог
                різноманітних світових стандартних знаків, включаючи: BEAB, UL,
                TUV, CCC, IP 44, CB, CE та ISO 9002. Наш виробничий процес, який
                здійснюється повністю під одним дахом, також включає ретельний,
                «незалежний» відділ контролю, який гарантує, що кожен пристрій,
                який сходить з виробничої лінії, відповідає вимогам стандартів.
                Ми прагнемо досягти найвищої якості, надаючи відповідні рішення
                для унікальних потреб усіх наших клієнтів і для безкомпромісної
                якості підтримки та обслуговування
              </p>
            </div>

            <div class="greenTech container container-fluid">
              <p>
                Наші водонагрівачі є частиною зеленої революції в тому, що вони
                ефективно економлять дорогоцінні водні та енергетичні ресурси.
                Використання електроенергії (а не газу), їх невеликі розміри і
                міцність, також забезпечують економію простору, транспортування
                і зберігання. Якість деталей забезпечує довговічність на довгі
                роки і можливість вторинної переробки.
              </p>

              <ul>
                <li>
                  Електроенергія використовується тільки тоді, коли Вам потрібна
                  гаряча вода.
                </li>
                <li>
                  Нагрівайте тільки ту воду, яку ви споживаєте, і жодної
                  непотрібної краплі
                </li>
                <li>
                  Технологія використання дозволяє використовувати його протягом
                  дуже короткого часу за необхідності
                </li>
                <li>Швидке нагрівання води</li>
                <li>
                  Після закінчення використання пристрій автоматично вимикається
                </li>

                <li>
                  Пристрої встановлюються неподалік від місця використання.
                </li>
                <li>
                  Відсутність підігріву резервуарів для води (сонячних та
                  електричних котлів) або непотрібної сантехніки.
                </li>
              </ul>
              <p>
                Все це та багато іншого гарантує вам приємний досвід покупок, а
                також задоволення від використання протягом багатьох років.
              </p>
            </div>

            <div class="about container container-fluid">
              <p>
                <strong> Про <span class="red">Atmor</span> </strong><br />
                Компанія <span class="red">Atmor</span> є одним з лідерів у
                світі з розробки та виробництва швидкодіючих водонагрівачів.
                Компанія була заснована сім'єю Перельсон у 1973 році з
                розумінням того, що рішення для гарячої води потрібне в
                будь-який час, а не чекаючи.
                <span class="red">Atmor</span> адаптував для вас найбільш
                правильні рішення для опалення відповідно до потреб кожного
                користувача та протягом багатьох років розробив продукти з
                передовими технологіями та компактним дизайном, які підходять
                для встановлення будь-де. У 2011 році компанією володіли Шимон
                Бретт і Алон Хеллер, а в 2017 році її придбала Ariston Group -
                італійська компанія, що спеціалізується на водонагрівальній
                продукції, продукція якої продається по всьому світу. Сьогодні
                разом з компанією Chromgan ми входимо до глобальної групи
                Ariston.
                <span class="red">Atmor</span>
                має широкий асортимент продукції - від одноточкового
                водонагрівача для раковини або душу, через водонагрівачі для
                раковини та душу, до водонагрівачів для кількох точок одночасно,
                для всієї квартири, будинку чи підприємства . Визначте свої
                потреби, перегляньте різноманітність пристроїв на сайті,
                підберіть найбільш правильне рішення, і ви гарантовано отримаєте
                безкоштовну гарячу воду негайно та без обмежень. Наші рішення
                ідеально підходять для максимального комфорту, щоб
                насолоджуватися гарячою водою коли завгодно, у потрібній
                кількості та з обраною вами температурою. Наша компанія має
                дозвіл на перевірку питної води від Ізраїльського інституту
                стандартів, а продукція відповідає всім найсуворішим стандартам
                в Ізраїлі та світі. Правильний вибір гарантує вам безкоштовну
                гарячу воду, без обмежень, у будь-яку обрану вами точку та за
                найнижчою ціною.
              </p>
            </div>
          </section>

          <aside class="causesLinks container container-fluid">
            <!-- <a href="#" class="turnBackTomainPage">Головна</a> -->
            <a href="#" class="aboutBtn"
              >Про <span class="red aboutBtn">Atmor</span></a
            >
            <!-- <a class="whyMainLink" href="#">Чому Атмор</a> -->
            <a class="experienceLink" href="#">Досвід</a>
            <a class="qualityLink" href="#">Якість</a>
            <a class="greenTechLink" href="#">Енергоощадність</a>
          </aside>
        </main>
      </div>
    </div>


    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.footer.partial.html"
    ></footer>
    <div class="alert-container container"></div>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.product-info.partial.html"
    ></div>
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.cart.partial.html"
    ></div>
    <script src="js/index.js"></script>
  </body>
</html>
